<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sszt.basis">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application>

        <activity
            android:name=".map.ShowLocActivity"
            android:exported="false" />
        <activity
            android:name=".map.MapSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActStyle" />
        <activity
            android:name=".map.BaiduMapMainActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="IlPavtpmYi1clke48lLXRBkF8OHwsvY2" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <provider
            android:name=".base.Ktx"
            android:authorities="${applicationId}.KtxInstaller"
            android:exported="false" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <service
            android:name=".service.UpdateAppService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".service.UpdateAppBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sszt.broadcastreceiver.updateapp" />
            </intent-filter>



        </receiver>


    </application>

</manifest>